<?xml version="1.0"?>
<!--
/**
 * @author      Razoyo <razoyo@razoyo.com>
 * @copyright   Copyright © 2024 Razoyo. All Rights Reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="razoyo" translate="label" sortOrder="1">
            <label>Razoyo</label>
        </tab>
        <section id="razoyo_carprofile" translate="label" type="text" sortOrder="200" showInDefault="1">
            <label>Car Profile</label>
            <tab>razoyo</tab>
            <resource>Razoyo_CarProfile::config</resource>
            <group id="carprofile_config" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1"
                   translate="label">
                <label>General</label>
                <field id="enabled" type="select" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1"
                       translate="label">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
